Package: gpd-pocket-supplement+re4son
Version: 1.0-1
Architecture: all
Maintainer: Re4son Protagonist <re4son@whitedome.com.au>
Installed-Size: 14
Section: admin
Priority: optional
Homepage: https://www.whitedome.com.au
Description: Firmware and tweaks for Kali Linux on the GPD Pocket
 This package contains firmware, drivers, etc. required by the GPD Pocket
