Source: gpd-pocket-supplement+re4son
Section: admin
Priority: optional
Maintainer: Re4son Protagonist <re4son@whitedome.com.au>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://www.whitedome.com.au
Vcs-Git: https://github.com/Re4son/gpd-pocket-supplement-re4son.git
Vcs-Browser: https://github.com/Re4son/gpd-pocket-supplement-re4son.git

Package: gpd-pocket-supplement+re4son
Architecture: all
Depends: ${misc:Depends}
Description: Firmware and tweaks for Kali Linux on the GPD Pocket
 This package contains firmware, drivers, etc. required by the GPD Pocket 
